body {
	background-color:Snow;
	max-width: 2000px;
	width: 75%;
	margin: auto;
}

video {
	width:95%	!important;
	max-width: 640px; !important;
	height: auto	!important;
	padding: 0px 0px 10px 10px;
}

/* header formatting */

header h1 {
	font-family: "Unna",Cambria,Serif;
	color: LightPink;
	background-color: oldlace;
	text-align: center;
	font-size: 4vw;
	background-color:oldlace;
	padding: 35px 0px 2% 0px;
	margin-top:5%;
	margin-bottom:auto;
	margin-left: auto;
	margin-right:auto;
}

header h1 {
	background-color: oldLace;
	transition: background-color 1s ease-in;
}

header h1:hover {
	background-color: white;
	transition: background-color 3s ease-in;
}

a.siteTitle:link, a.siteTitle:visited, a.siteTitle:active {
	font-family:'Faustina',Cambria, Georgia, serif;
	letter-spacing: 8px;
	text-transform:uppercase;
	color: LightPink;
	background-color: transparent;
	transition: color 0.5s ease-in;
}

a.siteTitle:hover {
	background-color:transparent;
	color:#cc00cc;
	transition: color 0.5s ease-in;
}

header li{
	display:inline-block;
	margin: 0px auto;
}


/*navigation!*/

nav {
	background-color:oldlace;
	padding: .05%;
	list-style-type:none;
	text-align:center;
}

nav li {
	display:inline-block;
	font-size: 1vw;
	text-align:center;
	font-family: 'Lato', sans-serif;

}

nav a:link, nav a:visited {
	color:orange;
	text-decoration: none;
	background-color:OldLace;
	text-align:center;
	padding: 10px 10px 10px 10px;
	display:inline-block;
	transition: all .2s ease-in;
}

nav a:hover{
	color: #cc00cc;
	text-decoration: none;
	background-color:white;
    transition: all .2s ease-in;
}

/*headers and such*/

h1 {
	color: LightPink;
	text-align: center;
	font-family:'Unna', Cambria, Georgia, serif;
	font-size: 300%;
	padding: 35px 0px 0px 0px;
}

h2 {
	color:teal;
	text-align: center;
	font-family:'Unna', Cambria, Georgia, serif;
	letter-spacing: 8px;
}

.pageInfo {
	text-align:center;
	font-family: 'Unna', Cambria, serif;
}

.flexcontainer {
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	background-color:orange;
	font-family:'Unna', Cambria, Georgia, serif;
	font-style:italic;
	color: white;
	margin: 0px auto;
	font-size:.75vw;
}

/* Random Button, Generator */

.randomGenerator {
	display: block;
	border: 0;
	font-size: 1vw;
	font-family:'Lato', Cambria, Georgia, serif;
	letter-spacing: 3px;
	background-color:orange;
	color: white;
	border-radius: 6px;
	padding: 1%;
	margin: 2% auto 4% auto;
	transition: all 0.1s ease-in;
}

.randomGenerator:hover {
	color:white;
	background-color:#cc00cc;
	transition: all 0s;
}

#randomDisplayer {
	display: block;
	text-align: center;
	margin: 5% auto;
}

#createdElement {
	width:95%	!important;
	max-width: 1280px !important;
	max-height: auto	!important;
}

/*listed content*/

.gallery {
	text-align:center;
	padding: 2%;
	margin: 2% 0%;
}

.gallery ul {
	text-align:center;
	padding:2%;
}

.gallery li {
	display:inline-block;
}

.gallery video {
	width:95%;
	max-width: 1280px;
	height: auto;
}

.squareGallery {
    padding:5%;
	text-align:center;
	background-color:white;
}

/*
.squareGallery p{
    text-align: left;
    font-size: 50%;
}

*/

.squareGallery video {
	width:100%	!important;
	max-width: 400px; !important;
	height: auto	!important;
	padding: 1%;
}

.squareGallery li {
	display:inline-block;
	padding: 1%;
}

/* image gallery */


.imageGallery {
	display: flex;
}

.imageGallery .column {
	flex:33%;
	max-width:33%;
}

.row {
	flex-wrap: wrap;
}


p {
	font-family:'Unna', Cambria, Georgia, serif;
	font-size: 100%;
}

.options {
	display: flex;
}

.optionColumn {
	flex: 50%;
	padding: 10px;
}

.options a:link{
	display: inline-block;
}

.options img{
	display: inline-block;
	width: 800px;
	max-width:50%;
	margin: auto;
}

.options a:link {
	background-color:transparent;
}

.options a:hover {
	background-color: #cc00cc;
	transition:background-color ease-in 0.5s;
}

.optionColumn:hover .overlayMe {
	opacity: 1;
}

.overlayMe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.overlayText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


/*links*/
a:link, a:visited {
	color:DarkSalmon;
	text-decoration: none;
	background-color:OldLace;
	text-align:center;
	padding: 10px 10px 10px 10px;
	display:inline-block;
}

a:hover {
	color:IndianRed;
	text-decoration: none;
	background-color:Orange;
}
a:active {
	color:LightPink;
	text-decoration: none;
	background-color:SeaShell;
}


/*footer*/

footer {
	background-color:oldlace;
	text-align:center;
	font-size:.8vw;
	margin-top: 3% 0% 5% 0%;
	padding: 5% 0% 1% 0%;
	transition: background-color 8s ease-in;
}

footer:hover {
	background-color: #cc00cc;
	transition: background-color 8s ease-in;
}

footer li {
	text-align:center;
	display:inline-block;
}

footer a:hover, footer a:link {
	background-color:transparent;
	font-style:underline;
	font-family:'Unna', Cambria, Georgia, serif;
}