body {
	background-color:Snow;
	max-width: 2000px;
	width: 75%;
	margin: auto;
}

video {
	width:100%	!important;
	max-width: 640px; !important;
	height: auto	!important;
	padding: 0px 0px 10px 10px;
}

/* header formatting */

header {
}

header li{
	display:inline-block;
	margin: auto;
}


/*navigation!*/

nav {
	background-color:oldlace;
	padding: 10px;
	list-style-type:none;
	text-align:center;
}

nav li {
	display:inline-block;
	text-align:center;
	font-family:trebuchet,sans-serif;
}

/*headers and such*/

h1 {
	color: LightPink;
	text-align: center;
	font-family:Cambria, georgia, serif;
	font-size: 300%;
	padding: 35px 0px 0px 0px;
}

h2 {
	color:teal;
	text-align: left;
	font-family:Cambria, Georgia, serif;
}

h3 {
	text-align: center;
	background-color:teal;
	font-family: cambria, georgia, serif;
	font-style:italic;
	color: darkSalmon;
}

/*listed content*/

.gallery {
	text-align:center;
}

.gallery li {
	display:inline-block;
}

.gallery video {
	width:100%;
	max-width: 1280px;
	height: auto;
}

.squareGallery {
    padding:5%;
	text-align:center;
	background-color:white;
}

/*
.squareGallery p{
    text-align: left;
    font-size: 50%;
}

*/

.squareGallery video {
	width:100%	!important;
	max-width: 400px; !important;
	height: auto	!important;
	padding: 1%;
}

.squareGallery li {
	display:inline-block;
	padding: 1%;
}


p {
	font-family: cambria,georgia,serif;
	font-size: 100%;
}

.options ul{
	text-align:center;
}

.options li{
	display:inline-block;
}

.options img{
	max-width:500px;
}

/*links*/
a:link, a:visited {
	color:DarkSalmon;
	text-decoration: none;
	background-color:OldLace;
	text-align:center;
	padding: 10px 10px 10px 10px;
	display:inline-block;
}

a:hover {
	color:IndianRed;
	text-decoration: none;
	background-color:Orange;
}
a:active {
	color:LightPink;
	text-decoration: none;
	background-color:SeaShell;
}

/*Site Title*/

a.siteTitle:link {
	color: LightPink;
	background-color:transparent;
	text-align: center;
	font-family:Cambria, georgia, serif;
	padding: 0px 0px 0px 0px;
}

a.siteTitle:visited {
	color: LightPink;
	background-color:transparent;
	text-align: center;
	font-family:Cambria, georgia, serif;
	padding: 0px 0px 0px 0px;
}

/*footer*/

footer {
	background-color:oldlace;
	text-align:center;
    margin-top: 10%;
}

footer li {
	text-align:center;
	display:inline-block;
}