body {
	padding: 5%;
	max-width: 2000px;
	width: 80%;
	margin: auto;
}

.mainContent {
	outline-style: solid;
	outline-color: red;
	padding: 5% 10%;
}

p {
	font-family: Cambria;
	font-size: 1.2vw;
}

h1 {
	font-family:cambria;
	font-size:1.6vw;
}

#homepage {
	padding: 0 20px;
	background-color: white;
	display: inline-block;
	overflow: hidden;
}

.accordian {
	width: 100%;
	border: none;
	outline: none;
	padding: 4px 3px 4px 2%;
	margin: 2px 0%;
	border-radius: 150px;

	text-align: left;
	font-family: Cambria;
	font-size: 1.5vw;

	cursor: pointer;
	transition: all 0.4s ease;
}

.active{
	background-color:red;
}

.accordian:hover {
	background-color:oldLace;
}

.panel {
	padding: 0 20px;
	background-color: red;
	display: none;
	overflow: hidden;
}

video {
	width: 100%;
	padding: 8px;
	margin: auto;
}
